[submodule "limonero"]
	path = limonero
	url = git@github.com:eubr-bigsea/limonero.git
	branch = master
[submodule "ember-citron"]
	path = citron
	url = git@github.com:eubr-bigsea/ember-citron.git
	branch = master
[submodule "juicer"]
	path = juicer
	url = git@github.com:eubr-bigsea/juicer.git
	branch = master
[submodule "tahiti"]
	path = tahiti
	url = git@github.com:eubr-bigsea/tahiti.git
	branch = master
[submodule "thorn"]
	path = thorn
	url = git@github.com:eubr-bigsea/thorn
	branch = master
[submodule "stand"]
	path = stand
	url = https://github.com/eubr-bigsea/stand.git
	branch = master
[submodule "caipirinha"]
	path = caipirinha
	url = https://github.com/eubr-bigsea/caipirinha.git
	branch = master
