[submodule "limonero"]
	path = limonero
	url = https://github.com/eubr-bigsea/limonero.git
	branch = next
[submodule "juicer"]
	path = juicer
	url = https://github.com/eubr-bigsea/juicer.git
	branch = next
[submodule "tahiti"]
	path = tahiti
	url = https://github.com/eubr-bigsea/tahiti.git
	branch = next
[submodule "thorn"]
	path = thorn
	url = https://github.com/eubr-bigsea/thorn
	branch = next
[submodule "stand"]
	path = stand
	url = https://github.com/eubr-bigsea/stand.git
	branch = next
[submodule "caipirinha"]
	path = caipirinha
	url = https://github.com/eubr-bigsea/caipirinha.git
	branch = next
[submodule "lemoande-spark-ext"]
	path = lemonade-spark-ext
	url = https://github.com/eubr-bigsea/lemonade-spark-ext.git
	branch = next
[submodule "citrus"]
	path = citrus
	url = https://github.com/eubr-bigsea/citrus.git
	branch = next
[submodule "seed"]
	path = seed
	url = https://github.com/eubr-bigsea/seed.git
	branch = next
[submodule "spark-fairness"]
	path = spark-fairness
	url = https://github.com/eubr-atmosphere/spark-fairness.git
	branch = next
