version: '2'
services:
  
  ### Lemonade DB ##
  lemonade_db:
    image: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=lemon
      - MYSQL_DATABASE=lemon

  ### Limonero ###
  limonero:
    build: ./limonero
    links:
      - lemonade_db:mysql
    volumes:
      - ./limonero-config.yaml:/usr/local/limonero/conf/limonero-config.yaml
      - ./logging_config.ini:/logging_config.ini
    ports:
      - '5005:5000'

  ### Juicer ###
  juicer:
    build: ./juicer
    tty: true
    stdin_open: true
    volumes:
       - ./juicer-config.yaml:/usr/local/juicer/conf/juicer-config.yaml
       - ./logging_config.ini:/logging_config.ini

  ### Stand ###
  stand:
     build: ./stand
     tty: true
     stdin_open: true
     volumes:
        - ./stand-config.yaml:/usr/local/stand/conf/stand-config.yaml
        - ./logging_config.ini:/logging_config.ini
     ports:
        - '5006:5000'
  
  ### Caipirinha ###
  caipirinha:
     build: ./stand
     tty: true
     stdin_open: true
     volumes:
        - ./caipirinha-config.yaml:/usr/local/caipirinha/conf/caipirinha-config.yaml
        - ./logging_config.ini:/logging_config.ini
     ports:
        - '5007:5000'

  ### Tahiti ###
  tahiti:
     build: ./tahiti
     tty: true
     stdin_open: true
     volumes:
        - ./tahiti-config.yaml:/usr/local/tahiti/conf/tahiti-config.yaml
        - ./logging_config.ini:/logging_config.ini
     ports:
        - '5008:5000'

  ### Thorn ###
  thorn_db:
     image: mysql
     environment:
        - MYSQL_ROOT_PASSWORD=lemon
     volumes:
        - /var/run/mysqld/
  thorn:
     build: ./thorn
     environment:
        - RAILS_CORS_ORIGINS=localhost:8080
     volumes:
        - ./database.yml:/usr/src/app/config/database.yml
     volumes_from:
        - thorn_db
     ports:
        - '3000:3000'
  
  ### Citron ###
  citron:
     image: nginx
     ports:
        - '443:443'
        - '80:80'
     volumes:
        - ./ember-citron/dist:/usr/share/nginx/html
        - ./nginx.conf:/etc/nginx/conf.d/default.conf
     links:
        - thorn

  ### Redis ###
  redis:
    image: "redis"
