# Seed configuration file
seed:
    debug: false
    environment: prod
    context: demo.ctweb.inweb.org.br
    port: 23405
    secret: 123456    
    deployment_port_range: [35000-39999]
    servers:
        database_url: mysql+pymysql://root:lemon@mysql/seed?charset=utf8
        redis_url: redis://redis:6379
    services:
        thorn:
            url: http://thorn:3000
            token: '123456'
    config:
        SQLALCHEMY_POOL_SIZE: 100
        SQLALCHEMY_POOL_RECYCLE: 600
